# Learning Resources: {{ concept_name }}

Below is a curated set of links, tutorials, and optional reading materials to support your learning for this week's lab on **{{ concept_name }}**.

## Curated Links
{% for resource in resources %}
### 🔗 [{{ resource.name }}]({{ resource.url }})
* **Description:** {{ resource.description }}
{% endfor %}

## Optional Bonus Challenge Overview
If you finish the required tasks early, try out the **Bonus Challenge** at the bottom of the exercise file! It is designed to extend your knowledge and build deeper systems/mathematical intuition.

*Good luck exploring!*
